body {
    background-image: url(images/back1.avif);
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;

}

h1 {
    color: white;
    text-align: center;
    font-size: 2em;
  ;
  }
  pre {

    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;


  }

  h3 {
    color: white;
    text-align: center;
    text-decoration: underline;


  }

footer {
  color: white;
  text-align: center;
}

.link {
  color: lightskyblue;
  text-align: center;
  font-size: 1.5em;
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}



.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;

}

.navbar a:hover{
  background-color: rgb(14, 68, 131);

}
.navbar li{
  float: right;
}

.dog {
  display: block;
  margin-left: auto;
  margin-right: auto;
}