html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #031424;
}

header {
  margin: 0;
  background-position-x: center;
  background-color: #031424;
}

.top-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #ffffff;
  z-index: 1000;
}

h1 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  margin: 0;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
  color: lightskyblue;
  text-align: center;
  font-size: 1.5em;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #031424;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  margin: 0;
}

.navbar a {
  color: #dcdcdc;
  text-decoration: none;
  padding: 30px; 
  display: flex; 
  align-items: center; 
  text-align: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover {
  background-color: #0073b1;
}

hr {
  border: none;
  border-top: 2px solid #dcdcdc;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.image-wrapper {
  display: inline-block;
  margin: 10px;
}

.guate {
  height: 400px;
  border-radius: 15px;
  border-style: groove;
  border-color: #dcdcdc;
}

#about {
  padding: 80px 20px;
  margin-top: 0px;
  background-color: #031424;
  
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  
}

.about-section, .education-section {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  padding: 20px;

}

.about-section h2, .education-section h2 {
  color: #dcdcdc;
  font-size: 1.8em;
  margin-bottom: 0px;
}

.about-section p, .education-section p {
  color: #dcdcdc;
  line-height: 1.6;
  margin: 0px 0;
}

@media (max-width: 768px) {
  .about-container {
      flex-direction: column;
      align-items: center;
  }

  .about-section, .education-section {
      max-width: 100%;
      text-align: center;
  }

  nav ul li {
      display: block;
      margin: 5px 0;
  }

  .social-links {
      flex-direction: column;
  }

  .social-links a {
      margin: 10px 0;
  }
}

@media (max-width: 480px) {
  header, footer {
      padding: 5px 0;
  }

  main {
      padding: 10px;
  }

  section {
      margin: 10px 0;
  }

  .social-links i {
      font-size: 20px;
  }
}


.skills-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 100px;    
}

.skills-container h2 {
    color: #ffffff;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center; 

}



.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #dcdcdc;
    font-size: 1.2em;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    
}

.skills-list li {
    display: flex;
    align-items: center;    

    margin: 10px 0;
    width: 45%; 
    hr {
      border: none;
      border-top: 2px solid #dcdcdc;
      margin: 0;
      padding: 0;
    }
    

}

.skills-list li span {
    margin-right: 20px;
    font-size: 1.5em; 
    color: #dcdcdc; 
    

}

@media (max-width: 768px) {
  .about-container,
  .skills-container {
      padding: 10px;
  }
  
  .about-container h2,
  .skills-container h2 {
      font-size: 1.5em;
  }
  
  .skills-category h3 {
      font-size: 1.2em;
  }
  .skills-list {
      font-size: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
  }

  .skills-list li {
      width: 45%; 
      text-align: center; 
      margin: 5px 2.5%; 
      display: flex;
      justify-content: center;
  }

  .skills-list li span {
      font-size: 1.2em;
      margin-right: 10px; 
  }
}

#contact h1 {

  padding: 20px;


}

.contact-text {
  text-align: center;
  color: #dcdcdc;
  padding: 44px;
  font-size: large;
}

.contact-form {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;

}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.contact-form input,
.contact-form button {
  width: 50%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.contact-form textarea {
  width: 50%;
  height: 200px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;

}

.contact-form button {
  width: 30%;
  margin-bottom: 60px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  color: #363535cb
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #dcdcdc;
  margin-bottom: 10px;

}

footer a {
  margin: 0 10px;
  color: #dcdcdc;
  text-decoration: none;
}

footer a:hover {
  color: #0073b1;
}

footer i {
  font-size: 40px;
  margin-bottom: 10px;
}